  body{
    background-color:#CDF0EA;
  }
  hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width:15%;
  }
  h1,h2{
    color: #54BAB9;
  }
